<% @curation = curation || @curation -%>
<% @am = am || @am -%>
<h4 class="accordion_toggle">Export CSV:</h4>
<div class="accordion_content">
  <% if @am.finished -%>
    <%=link_to "Download the raw CSV zip (Users/Tweets)", "http://#{FILE_URL}/files#{@am.save_path}#{@curation.folder_name}.zip" %>
  <% else -%>
    The CSVs for this dataset have not been compiled yet.
  <% end -%>
</div>