<% @collection = collection || @collection -%>
<% @am = am || @am -%>
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript">
google.load('visualization', '1', {packages: ['table','barchart','columnchart','linechart','piechart','geomap']});
</script>
<h4 class="accordion_toggle">Word Frequencies</h4>
<div class="accordion_content">
  <% if @am.finished -%>
    <%=link_to "Download the CSV of Word Frequency Data", "http://#{FILE_URL}/files#{@am.save_path}#{@collection.folder_name}.zip" %><br />
    <ul>
      <% for graph in @am.graphs %>
        <li><%= link_to_remote(graph.title.split("_").collect{|t| t.capitalize}.join(" "),  :replace => 'dataDisplay', :url => google_graph_url(graph.id)) %></li>
      <% end %>
    </ul>
  <% else -%>  
    The Word Frequency charts for this dataset are not yet complete
  <% end -%>
  
</div>