<div id="userDataDisplay">
  <h1>Listing users</h1>
<% for user in @users -%>
  <%= render :partial => "/users/user", :locals => {:user => user} %>
<% end -%>
  <%= will_paginate @users, :class => 'pagination ajax' %>
</div>