<% collection = Collection.find(job.collection_id) %>
<td><%= link_to job.function, analytical_offering_path(AnalyticalOffering.find_by_function(job.function)) %></td>
<td><%= job.finished ? "Yes" : "No" %></td>
<td><%= job.processing ? "Yes" : "No" %></td>
<td><%= link_to collection.name, collection_path(collection.researcher.user_name, collection) %></td>


