<h1>Listing tickets</h1>
<table>
  <tr>
    <th>#</th>
    <th>Researcher</th>
    <th>Problem</th>
    <th>Description</th>
  </tr>
<% @comments.each do |comment| %>
  <tr>
    <td><%= comment.id %></td>
    <td><%= link_to comment.researcher.user_name, researcher_url(comment.researcher) %></td>
    <td><%=h comment.title %></td>
    <td><%=h comment.comment %></td>
    <td><%= link_to 'Show', comment %></td>
    <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
    <td><%= link_to 'Destroy', comment, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
