<div id="main">
<h1>Listing auth_users</h1>
<table>
  <tr>
    <th>User name</th>
		<th>Currently Flagged?</th>
		<th>Current Instance Name</th>
		<th>Current Host Name</th>
  </tr>

<% @auth_users.each do |auth_user| %>
  <%= render :partial => "auth_user", :locals => {:auth_user => auth_user } %>
<% end %>
</table>
<%= will_paginate @auth_users, :class => 'pagination ajax' %>
</div>
<br />