<style>
#home_left {
  width:600px;
  display:block;
  float:left;
}
#home_right {

}
#get_started {
  background:#ccc;
  padding:10px;
}
.slogan {
  font-family:helvetica neue, helvetica, arial;
  font-size:20px;
  padding:10px;
}
#get_started {
/*  font-weight:bold;*/
}

.center { text-align:center; }
</style>

<div id="home_left">
  <div class="slogan center">Disregard females &rArr; Acquire wealth</div>
  <div id="get_started" class="roundedEdge">
    <h3>Get Started:</h3>
    <!-- term form -->
  </div>
  <div class="center">Go forth and research. Leave the grogramming to us.</div>
</div>

<div id="home_right">
  <h2>Updates:</h2>
  <!-- status updates -->
</div>

<br />
<!-- <div class="line"></div> -->