<% @analytical_offerings = analytical_offerings || @analytical_offerings -%>
<% @collection = @collection || collection -%>
<div id="analyticalOfferingDataDisplay">
<% if @analytical_offerings.length > 0 -%>
  <h2>Analytical Offerings</h2>
  <% if !(@collection.analysis_metadatas.length == @analytical_offerings.length) -%>
    <% for analytical_offering in @analytical_offerings -%>
      <% if !@collection.analysis_metadatas.collect{|am| am.function }.include?(analytical_offering.function) && analytical_offering.enabled -%>
        <%= render :partial => "/analytical_offerings/analytical_offering", :locals => {:analytical_offering => analytical_offering, :collection => @collection} %>
      <% else -%>
        <%= render :partial => "/analytical_offerings/analytical_offering", :locals => {:analytical_offering => analytical_offering, :collection => @collection} %>
      <% end -%>
    <% end -%>
<% else -%>
  You have added all possible jobs.
<% end -%>
  <%= will_paginate @analytical_offerings, :class => 'pagination ajax' %>
<% end -%>
<br />

</div>