<div id="analyticalOfferings">
  <%= render :partial => "/analytical_offerings/analytical_offerings_index", :locals => {:collection => @collection, :analytical_offerings => @analytical_offerings} %>
</div>