<h1>We're sorry you forgot your password, <%= @researcher.user_name %></h1>

It's not that we don't trust that you are actually you, it's just a security thing. Read some Tweets to pass the time:

<div id="dataDisplay">
<% for tweet in @tweets -%>
  <%= render :partial => "/tweets/tweet", :locals => {:tweet => tweet, :display_user_header => true} %>
<% end -%>
<br />

</div>