<h3>Explore:</h3>
<%= link_to_remote("Tweets",  :replace => 'dataDisplay', :url => tweets_collection_paginate_url(metadata.collection.id)) %> | 
<%= link_to_remote("Users",  :replace => 'dataDisplay', :url => users_collection_paginate_url(metadata.collection.id)) %>