<% ams = @collection.analysis_metadatas -%>
<h3>Analytics:</h3>
<% for am in ams -%>
  <%= render :partial => "/analysis_metadatas/#{am.function}", :locals => {:collection => @collection, :am => am} %>
<% end -%>