<a href="http://creativecommons.org/licenses/by-nc-sa/3.0/">(cc-by-nc-sa)</a> <a href="http://www.webecologyproject.org">Web Ecology Project</a>, <a href="http://en.wikipedia.org/wiki/2010">2010</a>
| <a href="mailto:140kit@webecologyproject.org">Contact</a>
| <a href="http://140kit.com/pages/api-documentation">API</a>
| <a href="http://140kit.com/pages/terms-of-service">TOS</a>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-16471158-1']);
  _gaq.push(['_setDomainName', '.<%= SITE_URL %>']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>