@font-face {
	font-family: 'MarketingScriptRegular';
	src: url('MarketingScript-webfont.eot');
	src: local('☺'), url('MarketingScript-webfont.woff') format('woff'), url('MarketingScript-webfont.ttf') format('truetype'), url('MarketingScript-webfont.svg#webfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'AaarghNormal';
	src: url('Aaargh-webfont.eot');
	src: local('☺'), url('Aaargh-webfont.woff') format('woff'), url('Aaargh-webfont.ttf') format('truetype'), url('Aaargh-webfont.svg#webfont') format('svg');
	font-weight: normal;
	font-style: normal;
}


