<%
id_prefix ||= ""
element_id = id_prefix.blank? ? "#{dataset.metadata.class.to_s.underscore}_#{dataset.metadata.id}_associate_button" : "#{id_prefix}_#{dataset.metadata.class.to_s.underscore}_#{dataset.metadata.id}_associate_button"
-%>
<div id="<%= element_id %>">
<% if dataset.metadata.collections.exists?(collection.id) -%>
<% if id_prefix == "removeable" -%>
  <%= link_to_remote("Remove",
          :url => datasets_dissociate_url(dataset.metadata.id, dataset.metadata.class.to_s, collection.id),
          :loading => "Element.update('addable_#{dataset.metadata.class.to_s.underscore}_#{dataset.metadata.id}_associate_button', '<img src=\"/images/loading.gif\">'); Effect.BlindUp('removeable_#{dataset.metadata.class.to_s.underscore}_#{dataset.metadata.id}')",
          :complete => "Element.highlight('removeableMetadatas')") %>
<% elsif !collection.finished -%>
  You've got this. 
  <%= link_to_remote("Remove it?",
          :url => datasets_dissociate_url(dataset.metadata.id, dataset.metadata.class.to_s, collection.id),
          :loading => "Element.update('#{element_id}', '<img src=\"/images/loading.gif\">'); Effect.BlindUp('removeable_#{dataset.metadata.class.to_s.underscore}_#{dataset.metadata.id}')",
          :complete => "Element.highlight('removeableMetadatas')") %>
<% end -%>
<% else -%>
  <%= link_to_remote("Add",
          :url => datasets_associate_url(dataset.metadata.id, dataset.metadata.class.to_s, collection.id),
          :loading => "Element.update('#{element_id}', '<img src=\"/images/loading.gif\">')",
          :complete => "Element.highlight('removeable_#{dataset.metadata.class.to_s.underscore}_#{dataset.metadata.id}')") %>
<% end -%>
</div>