<span class="curateSearch"><%= render :partial => "/datasets/search", :locals => {:conditions => "single_dataset:1|scrape_method:Stream,REST", :element_id => "datasetDataDisplay", :partial => "/layouts/search_results", :collection_id => @collection.id} %></span>
<div class="clearFloat"></div>
<table id="dataset_curation">
  <tr>
    <td>
      <div id="datasets">
        <h3>Datasets</h3>
        <div id="addableDatasets">
          <% if @addable_datasets.empty? -%>
            You've already added all available datasets, sorry.
          <% end -%>
          <%= render :partial => "/datasets/datasets_associate", :locals => {:collection => @collection, :datasets => @addable_datasets, :page_param => "addable_page", :id_prefix => "addable"} %>
        </div>
      </div>
    </td>
    <td>
      <h3>Added Datasets</h3>
      <div id="removeableMetadatas">
        <% if @removeable_datasets.empty? -%>
          You haven't added any datasets yet.
        <% end -%>
        <%= render :partial => "/datasets/datasets_associate", :locals => {:collection => @collection, :datasets => @removeable_datasets, :page_param => "removeable_page", :id_prefix => "removeable"} %>
      </div>
    </td>
  </tr>
</table>