<% 
params = params
id_prefix ||= ""
display_user_header = display_user_header || false
datasets ||= nil
@datasets = datasets || @datasets
collection ||= nil
@collection = @collection || collection || nil
page_param ||= "page"
-%>
<div id="datasetDataDisplay">
  <center><%= will_paginate @datasets, :class => 'pagination ajax', :param_name => "#{page_param}" %></center>
<% for dataset in @datasets -%>
  <%= render :partial => "/datasets/dataset", :locals => {:dataset => dataset, :display_user_header => display_user_header, :collection => @collection, :id_prefix => id_prefix} %>
<% end -%>
  <center><%= will_paginate @datasets, :class => 'pagination ajax', :param_name => "#{page_param}" %></center>
</div>